.container {
  display: flex;
  flex-direction: row;
}

/* .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
} */

/* .right {
  flex: 1;
  align-items: center;
} */
