@font-face {
  font-family: "Myfont";
  src: url(./utils/fonts/SpidroMarley-Regular.ttf) format("truetype"),
    local("Myfont");
}

body {
  background-image: url(./utils/images/background.jpg);
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  font-family: "Myfont", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
